.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2%;
  width: 80%;
  margin: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  width: 100%;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.filter-container {
  padding: 60px 20px;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  list-style: none;
}

.page {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.active {
  border: 2px solid #000;
  font-weight: bold;
}

.previous {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break {
  padding: 10px;
}

.next {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
img {
  height: 200px;
  width: 200px;
}
.filter-container {
  margin-bottom: 5px;
  padding-left: 150px;
  background-color: gray;
  z-index: -900;
  height: 0px;
  color: white;
  font-weight: bold;
}
.filter-container .category-list{
  margin: 15px 10px;
  color: #000;
  padding-top: 40px;
}
